extends ../../layout

block content
	.site
		center
			a(href='/viewClass/#{name}/addStudent')
				input.btn.btn-primary(type='button', value='Add student')
			h2 Class #{name}
			h3 All student
			table.table
				- for (var i = 0; i < data[0].student.length; i++)
					tr
						td #{data[0].student[i].login}
						td #{data[0].student[i].name}
						td #{data[0].student[i].surname}
						td
							a(href='/removeStudent/#{name}/#{data[0].student[i]._id}')
								input.btn(type='button', value='Delete student')
						