extends ../layout

block content
	.site
		center
			a(href='/viewClass/#{name}/addStudent')
				input.btn.btn-primary(type='button', value='Add student')
			h3 #{name}
			table.table
				- for (var i = 0; i < data[0].student.length; i++)
					tr
						td #{data[0].student[i].login}
						td #{data[0].student[i].name}
						td #{data[0].student[i].surname}
						