extends ../../layout

block content
	.site
		center
			a(href='/viewCategory/#{name}/addQuestion')
				input.btn.btn-primary(type='button', value='Add question')
			h2 Category #{name}
			h3 All question
			- for (var i = 0; i < data[0].question.length; i++)
				table.table
					tr
						td 
							p 
								b Question: 
								| #{data[0].question[i].question}
					tr
						td
							p 
								b A: 
								| #{data[0].question[i].a} - #{data[0].question[i].aTrue}
					tr
						td 
							p 
								b B: 
								| #{data[0].question[i].b} - #{data[0].question[i].bTrue}
					tr
						td 
							p 
								b C: 
								| #{data[0].question[i].c} - #{data[0].question[i].cTrue}
					tr
						td 
							p 
								b D: 
								| #{data[0].question[i].d} - #{data[0].question[i].dTrue}
				center
					a(href='/removeQuestion/#{name}/#{data[0].question[i]._id}')
						input.btn(type='button', value='Delete question')
				br
				br